___

<a href='https://virasec.ir'> <img src='viraacademy-Logo.png' /></a>
___

# List

In [2]:
list1 = ["apple","banana","cherry"]
#print(list1)
list1

['apple', 'banana', 'cherry']

In [3]:
print(list1[1])

banana

In [4]:
list1 = ["apple","banana","cherry"]
print(list1[-1])

cherry

In [5]:
list1 = ["apple","banana","cherry","orange","kiwi","melon","mango"]
print(list1[2:5])

['cherry', 'orange', 'kiwi']

In [6]:
list1 = ["apple","banana","cherry","orange","kiwi","melon","mango"]
print(list1[:4])

['apple', 'banana', 'cherry', 'orange']

In [ ]:
list1 = ["apple","banana","cherry","orange","kiwi","melon","mango"]
print(list1[2:])

In [ ]:
list1 = ["apple","banana","cherry","orange","kiwi","melon","mango"]
print(list1[-4:-1])

## Change Item Value

In [10]:
list1 = ["apple","banana","cherry"]
print(list1)

list1[1] = "Elballo"
print(list1)

['apple', 'banana', 'cherry']
['apple', 'Elballo', 'cherry']

## Loop Through a List

In [12]:
list1 = ["apple","banana","cherry"]
for x in list1:
    print(x)

apple
banana
cherry

## Check if Item Exists

In [14]:
list1 = ["apple","banana","cherry"]
if "apple" in list1:
    print("Yes, 'apple' is in the fruits list")

## List Length

In [17]:
list1 = ["apple","banana","cherry","test"]
print(len(list1))
len1 = len(list1)
len1

4

4

## Add Items

In [18]:
list1 = ["apple","banana","cherry"]
print(list1)
list1.append("orange")
print(list1)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'orange']

In [20]:
list1 = ["apple","banana","cherry"]
print(list1)
list1.insert(2,"orange")
print(list1)

['apple', 'banana', 'cherry']
['apple', 'banana', 'orange', 'cherry']

## Remove Item

In [30]:
list1 = ["apple","banana","cherry"]
#list1.remove("banana")
print(list1)
list1.pop()
print(list1)

list1.pop()
print(list1)

list1.pop()
print(list1)

['apple', 'banana', 'cherry']
['apple', 'banana']
['apple']
[]

IndexError: pop from empty list

## Copy a List

In [35]:
list1 = ["apple","banana","cherry"]
print(list1)
mylist = list1.copy()
print(mylist)
print(type(list1))
print(type(mylist))

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry']
<class 'list'>
<class 'list'>
<class 'str'>

## Join Two Lists

In [36]:
list1 = ["a","b","c"]
list2 = [1,2,3]
list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [37]:
list1 = ["a","b","c"]
list2 = [1,2,3]
for x in list2:
    list1.append(x)
    print(list1)

['a', 'b', 'c', 1]
['a', 'b', 'c', 1, 2]
['a', 'b', 'c', 1, 2, 3]

In [38]:
list1 = ["a","b","c"]
list2 = [1,2,3]
list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

# TUPLES

In [39]:
tuple1 = ("apple","banana","cherry")
print(tuple1)

('apple', 'banana', 'cherry')

## Access Tuple Items

In [42]:
tuple1 = ("apple","banana","cherry")
print(tuple1[2])

cherry

## Add Items

In [43]:
# You cannot add items to a tuple:

tuple1 = ("apple","banana","cherry")
tuple1[3] = "orange"

# This will raise an error print(tuple1)

TypeError: 'tuple' object does not support item assignment

In [44]:
x = ("apple","banana","cherry")
y = list(x)

y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [47]:
tuple1 = ("apple",)
print(type(tuple1))

#NOT a tuple
tuple1 = ("apple")
print(type(tuple1))

<class 'tuple'>
<class 'str'>

In [49]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 7, 8, 5)
x = thistuple.count(3)
print(x)

1

In [50]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)
x = thistuple.index(7)
print(x)

2

In [52]:
thisset = {"apple","banana","cherry"}
print(thisset)

{'cherry', 'banana', 'apple'}

# SET

In [53]:
thisset = {"apple","banana","cherry"}
print(thisset)

{'cherry', 'banana', 'apple'}

## Access Items

In [54]:
thisset = {"apple","banana","cherry"}
for x in thisset:
    print(x)

cherry
banana
apple

In [55]:
thisset = {"apple","banana","cherry"}
print("banana" in thisset)

True

## Add Items

In [56]:
thisset = {"apple","banana","cherry"}
thisset.add("orange")
print(thisset)

{'cherry', 'banana', 'orange', 'apple'}

## Remove Item

In [57]:
thisset = {"apple","banana","cherry"}
x = thisset.pop()
print(x)

print(thisset)

cherry
{'banana', 'apple'}

In [58]:
x = thisset.pop()
print(x)

print(thisset)

banana
{'apple'}

In [59]:
thisset = {"apple","banana","cherry"}
thisset

{'apple', 'banana', 'cherry'}

In [60]:
thisset = {"apple","banana","cherry"}
thisset.clear()
print(thisset)

set()

## Join Two Sets

In [62]:
set1 = {"a","b","c",3}
set2 = {1,2,3}
set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'a', 'b', 'c'}

In [63]:
set1 = {"a","b","c",5}
set2 = {1,5,3}
set1.update(set2)
print(set1)

{1, 'a', 'c', 5, 'b', 3}

# Dictionary

In [64]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

## Accessing Items

In [65]:
x = thisdict["model"]
x

'Mustang'

In [66]:
x = thisdict.get("model")
x

'Mustang'

## Change Values

In [67]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018

In [68]:
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

In [69]:
# Print Key name
for x in thisdict:
  print(x)

brand
model
year

In [70]:
# Print Values
for x in thisdict:
  print(thisdict[x])

Ford
Mustang
2018

In [71]:
for x in thisdict.values():
  print(x)

Ford
Mustang
2018

In [72]:
# Loop through both keys and values, by using the items() method
for x, y in thisdict.items():
  print(x, y)

brand Ford
model Mustang
year 2018

In [73]:
#Check if Key Exists
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

## Dictionary Length

In [74]:
print(len(thisdict))

3

## Adding Items

In [75]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

## Removing Items

In [77]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
{'brand': 'Ford', 'year': 1964}

In [78]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

In [79]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
{'brand': 'Ford', 'year': 1964}

In [80]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict
print(thisdict) #this will cause an error because "thisdict" no longer exists.

NameError: name 'thisdict' is not defined

In [81]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}

## Copy a Dictionary

In [83]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [84]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

## Nested Dictionaries

In [85]:
child1 = {
    "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

In [86]:
myfamily

{'child1': {'name': 'Emil', 'year': 2004},
 'child2': {'name': 'Tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'year': 2011}}

In [87]:
myfamily['child1']

{'name': 'Emil', 'year': 2004}

In [88]:
myfamily['child1'].values()

dict_values(['Emil', 2004])

In [89]:
myfamily['child1'].keys()

dict_keys(['name', 'year'])

In [ ]:
myfamily