___

<a href='https://www.virasec.ir/academy'> <img src='viraacademy-Logo.png' /></a>
___
# Python Basic Course Exercises

## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [ ]:
7**4

** Split this string:**

    s = "Hi there Darya!"
    
**into a list. **

In [2]:
s = 'Hi there Darya!'

In [3]:
s.split()

['Hi', 'there', 'Darya!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [5]:
planet = "Earth"
diameter = 12742

In [6]:
print("The diameter of {} is {} kilometers.".format(planet,diameter))

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [8]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [9]:
lst[3][1][2][0]

'hello'

** What is the main difference between a tuple and a list? **

In [ ]:
# Tuple is immutable

Given a Python list you should be able to display Python list in the following order
aLsit = [100, 200, 300, 400, 500]
[500, 400, 300, 200, 100]

In [13]:
aList = [100, 200, 300, 400, 500]
aList = aList[::-1]
print(aList)

[500, 400, 300, 200, 100]

Concatenate two lists index-wise

In [14]:
list1 = ["M", "na", "i", "Re"] 
list2 = ["y", "me", "s", "za"]

In [15]:
# We need to use list comprehension and zip() function as follows

list1 = ["M", "na", "i", "Re"] 
list2 = ["y", "me", "s", "za"]
list3 = [i + j for i, j in zip(list1, list2)]
print(list3)

['My', 'name', 'is', 'Reza']

In [16]:
#Use For loop

for i, j in zip(list1, list2):
    print(i+j)

My
name
is
Reza

In [17]:
#Use For loop

for i, j in zip(list1, list2):
    print(i+j , end = ' ')

My name is Reza

Given a Python list. Turn every item of a list into its square

aList = [1, 2, 3, 4, 5, 6, 7]
Answer:
[1, 4, 9, 16, 25, 36, 49]

In [20]:
aList = [1, 2, 3, 4, 5, 6, 7]
aList =  [x * x for x in aList]
print(aList)

[1, 4, 9, 16, 25, 36, 49]

Concatenate two lists in the following order

list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
#Expected output:

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [21]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]

resList = [x+y for x in list1 for y in list2]
print(resList)

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

Given a two Python list. Iterate both lists simultaneously such that list1 should display item in original order and list2 in reverse order

list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
#Expected output:

10 400
20 300
30 200
40 100

In [22]:
#We need to use the zip() function here.

list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

for x, y in zip(list1, list2[::-1]):
    print(x, y)

10 400
20 300
30 200
40 100

Add item 7000 after 6000 in the following Python List

list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
#Expected output:

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [23]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

Given a Python list, find value 20 in the list, and if it is present, replace it with 200. Only update the first occurrence of a value

list1 = [5, 10, 15, 20, 25, 50, 20]
#Expected output:

list1 = [5, 10, 15, 200, 25, 50, 20]

In [24]:
list1 = [5, 10, 15, 20, 25, 50, 20]

index = list1.index(20)
list1[index] = 200
print(list1)

[5, 10, 15, 200, 25, 50, 20]

Below are the two lists convert it into the dictionary

keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
#Expected output:

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [25]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

sampleDict = dict(zip(keys, values))
print(sampleDict)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

Merge following two Python dictionaries into one

dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
#Expected output:

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [26]:
# Python 3.5+

dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

dict3 = {**dict1, **dict2}
print(dict3)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [27]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

dict3 = dict1.copy()
dict3.update(dict2)
print(dict3)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

Access the value of key ‘history’

In [28]:
sampleDict = { 
   "class":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "physics":70,
            "history":80
         }
      }
   }
}

#Expected output:

80

In [29]:
print(sampleDict['class']['student']['marks']['history'])

80

Given a Python dictionary, Change Brad’s salary to 8500

In [30]:
sampleDict = {
     'emp1': {'name': 'Jhon', 'salary': 7500},
     'emp2': {'name': 'Emma', 'salary': 8000},
     'emp3': {'name': 'Brad', 'salary': 6500}
}

In [31]:
sampleDict['emp3']['salary'] = 8500
print(sampleDict)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

Given an input string, count occurrences of all characters within a string

In [32]:
#Given:

str1 = "Apple"

#Expected Outcome:

{'A': 1, 'p': 2, 'l': 1, 'e': 1}

{'A': 1, 'p': 2, 'l': 1, 'e': 1}

In [33]:
str1 = "Apple"
countDict = dict()
for char in str1:
    count = str1.count(char)
    countDict[char]=count
print(countDict)

{'A': 1, 'p': 2, 'l': 1, 'e': 1}

Reverse a given string

#Given:

str1 = "Welcome"

#Expected Output:

emocleW

In [35]:
str1 = "Welcome"
print("Original String is:", str1)

str1 = str1[::-1]
print("Reversed String is:", str1)

Original String is: Welcome
Reversed String is: emocleW

Find the last position of a substring “Emma” in a given string

In [36]:
str1 = "Darya is a data scientist who knows Python. Darya works at google."

In [37]:
str1 = "Darya is a data scientist who knows Python. Darya works at google."
print("Original String is:", str1)

index = str1.rfind("Darya")
print("Last occurrence of Darya starts at", index)

Original String is: Darya is a data scientist who knows Python. Darya works at google.
Last occurrence of Darya starts at 44

Split a given string on hyphens into several substrings and display each substring

#Given:
str1 = "Darya-is-a-data-scientist"

#Expected Output:

#Displaying each substring

Darya
is
a
data
scientist

In [38]:
str1 = "Darya-is-a-data-scientist"
print("Original String is:", str1)

# split string
substrings = str1.split("-")

print("Displaying each substring")
for sub in substrings:
    print(sub)

Original String is: Darya-is-a-data-scientist
Displaying each substring
Darya
is
a
data
scientist

Remove empty strings from a list of strings

#Given:

str_list = ["Darya", "Ali", "", "Negar", None, "Azadeh", ""]

#Expected Output:

#Original list of sting
["Darya", "Ali", "", "Negar", None, "Azadeh", ""]

#After removing empty strings
['Darya', 'Ali', 'Negar', 'Azadeh']

In [39]:
str_list = ["Darya", "Ali", "", "Negar", None, "Azadeh", ""]
print("Original list of sting")
print(str_list)

# use built-in function filter to filter empty value
new_str_list = list(filter(None, str_list))

print("After removing empty strings")
print(new_str_list)

Original list of sting
['Darya', 'Ali', '', 'Negar', None, 'Azadeh', '']
After removing empty strings
['Darya', 'Ali', 'Negar', 'Azadeh']

Remove special symbols/Punctuation from a given string

#Given:

str1 = "/*Ali is @developer & musician"
#Expected Output:

“Ali is developer musician”

In [40]:
import string

str1 = "/*Ali is @developer & musician"
print("Original string is: ", str1)

# use translate function of a string
# and maketrans function of str class
new_str = str1.translate(str.maketrans('', '', string.punctuation))

print("New string is: ", new_str)

Original string is:  /*Ali is @developer & musician
New string is:  Ali is developer  musician

Removal all the characters other than integers (numbers) from string

#Given:

I am 25 years and 10 months old

#Expected Output:

2510

In [42]:
str1 = 'I am 25 years and 10 months old'
print("Original string is", str1)
numbers=''
for i in str1:
    if i.isdigit():
        numbers += i
print(numbers)

Original string is I am 25 years and 10 months old
2510

In [43]:
str1 = 'I am 25 years and 10 months old'
print("Original string is", str1)

# Retain Numbers in String
# Using list comprehension + join() + isdigit()
res = "".join([item for item in str1 if item.isdigit()])

print(res)

Original string is I am 25 years and 10 months old
2510

In [44]:
a=("A","B","C")
b='*'.join(a)
print(b)

A*B*C

From given string replace each punctuation with #
Given:

str1 = '/*Negar is @developer & musician!!'
Expected Output:

##Negar is #developer # musician##

In [45]:
from string import punctuation

str1 = '/*Negar is @developer & musician!!'
print("The original string is : ", str1)

# Replace punctuations with #
replace_char = '#'

# Using string.punctuation to get the list of all punctuations
# use string function replace() to replace each punctuation with #

for char in punctuation:
    str1 = str1.replace(char, replace_char)

print("The strings after replacement : ", str1)

The original string is :  /*Negar is @developer & musician!!
The strings after replacement :  ##Negar is #developer # musician##

Print First 10 natural numbers using while loop
Expected output:

0
1
2
3
4
5
6
7
8
9
10

In [46]:
i = 0
while i <= 10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9
10

Print the following pattern
1 
1 2 
1 2 3 
1 2 3 4 
1 2 3 4 5

In [47]:
print("Second Number Pattern ")
lastNumber = 6
for row in range(1, lastNumber):
    for column in range(1, row + 1):
        print(column, end=' ')
    print("")

Second Number Pattern
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

Accept number from user and calculate the sum of all number between 1 and given number

For example user given 10 so the output should be 55

In [48]:
sum1 = 0
n = int(input("Please enter number "))
for i in range(1, n + 1, 1):
    sum1 += i
print("\n")
print("Sum is: ", sum1)

Please enter number 66


Sum is:  2211

Print multiplication table of given number
For example num = 2 so the output should be
2
4
6
8
10
12
14
16
18
20

In [ ]:
n = 2
for i in range(1, 11, 1):
    product = n*i
    print(product)

Given a list iterate it and display numbers which are divisible by 5 and if you find number greater than 150 stop the loop iteration
list1 = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]

Expected output:

15
55
75
150

In [ ]:
list1 = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]
for item in list1:
    if (item > 150):
        break
    if(item % 5 == 0):
        print(item)

Given a number count the total number of digits in a number
For example, the number is 75869, so the output should be 5.

In [ ]:
num = 75869
count = 0
while num != 0:
    num //= 10
    count+= 1
print("Total digits are: ", count)

Print the following pattern using for loop
5 4 3 2 1 
4 3 2 1 
3 2 1 
2 1 
1

In [ ]:
n = 5
k = 5
for i in range(0,n+1):
    for j in range(k-i,0,-1):
        print(j,end=' ')
    print()

Reverse the following list using for loop
list1 = [10, 20, 30, 40, 50]

Expected output:

50
40
30
20
10

In [ ]:
list1 = [10, 20, 30, 40, 50]
start = len(list1) - 1
stop = -1
step = -1
for i in range(start, stop, step) :
    print(list1[i])

Display -10 to -1 using for loop
Expected output:

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [ ]:
for num in range(-10, 0, 1):
    print(num)

Display a message “Done” after successful execution of for loop
For example, the following loop will execute without any error.

for i in range(5):
    print(i)
So the Expected output should be:

0
1
2
3
4
Done!

In [ ]:
for i in range(5):
    print(i)
else:
    print("Done!")

Display Fibonacci series up to 10 terms
Expected output:

Fibonacci sequence:
0  1  1  2  3  5  8  13  21  34

In [ ]:
terms = 10
# first two terms
num1, num2 = 0, 1
count = 0

print("Fibonacci sequence:")
while count < terms:
    print(num1, end="  ")
    temp = num1 + num2
    # update values
    num1 = num2
    num2 = temp
    count += 1

Write a loop to find the factorial of any number
The factorial (symbol: !) means to multiply all whole numbers from our chosen number down to 1.

For example: calculate the factorial of 5

5! = 5 × 4 × 3 × 2 × 1 = 120
Expected output:

120

In [ ]:
num = 5
factorial = 1
if num < 0:
    print("Factorial does not exist for negative numbers")
elif num == 0:
    print("The factorial of 0 is 1")
else:
    for i in range(1, num + 1):
        factorial = factorial * i
    print("The factorial of", num, "is", factorial)

Reverse a given integer number
Given:

76542

Expected output:

24567

In [ ]:
num = 76542
reverse_number = 0
print("Given Number ", num)
while num > 0:
    reminder = num % 10
    reverse_number = (reverse_number * 10) + reminder
    num = num // 10
print("Revered Number ", reverse_number)

Use a loop to display elements from a given list which are present at even positions
Given:

my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

Expected output:

20 40 60 80 100

In [ ]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
for i in my_list[1::2]:
    print(i, end=" ")

Print the following pattern
* 
* * 
* * * 
* * * * 
* * * * * 
* * * * 
* * * 
* * 
*

In [ ]:
rows = 5
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print("\r")

for i in range(rows, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print("\r")

Good Luck
Please email your file for me: mr.gerami@gmail.com or whatsapp +989125792641