___

<a href='https://www.virasec.ir/academy'> <img src='viraacademy-Logo.png' /></a>
___

# Python Basic Course Exercises 
### Vira Academy

## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

** Split this string:**

    s = "Hi there Darya!"
    
**into a list. **

In [2]:
s = 'Hi there Darya!'

['Hi', 'there', 'Darya!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [5]:
planet = "Earth"
diameter = 12742

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [8]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

'hello'

** What is the main difference between a tuple and a list? **

Given a Python list you should be able to display Python list in the following order
aLsit = [100, 200, 300, 400, 500]
[500, 400, 300, 200, 100]

[500, 400, 300, 200, 100]

Concatenate two lists index-wise

In [14]:
list1 = ["M", "na", "i", "Re"] 
list2 = ["y", "me", "s", "za"]

['My', 'name', 'is', 'Reza']

My
name
is
Reza

My name is Reza

Given a Python list. Turn every item of a list into its square

aList = [1, 2, 3, 4, 5, 6, 7]
Answer:
[1, 4, 9, 16, 25, 36, 49]

[1, 4, 9, 16, 25, 36, 49]

Concatenate two lists in the following order

list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
#Expected output:

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

Given a two Python list. Iterate both lists simultaneously such that list1 should display item in original order and list2 in reverse order

list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
#Expected output:

10 400
20 300
30 200
40 100

In [22]:
#You need to use the zip() function here.

10 400
20 300
30 200
40 100

Add item 7000 after 6000 in the following Python List

list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
#Expected output:

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

Given a Python list, find value 20 in the list, and if it is present, replace it with 200. Only update the first occurrence of a value

list1 = [5, 10, 15, 20, 25, 50, 20]
#Expected output:

list1 = [5, 10, 15, 200, 25, 50, 20]

[5, 10, 15, 200, 25, 50, 20]

Below are the two lists convert it into the dictionary

keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
#Expected output:

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

Merge following two Python dictionaries into one

dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
#Expected output:

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

Access the value of key ‘history’

In [28]:
sampleDict = { 
   "class":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "physics":70,
            "history":80
         }
      }
   }
}

#Expected output:

80

80

Given a Python dictionary, Change Brad’s salary to 8500

In [30]:
sampleDict = {
     'emp1': {'name': 'Jhon', 'salary': 7500},
     'emp2': {'name': 'Emma', 'salary': 8000},
     'emp3': {'name': 'Brad', 'salary': 6500}
}

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

Given an input string, count occurrences of all characters within a string

In [32]:
#Given:

str1 = "Apple"

#Expected Outcome:

{'A': 1, 'p': 2, 'l': 1, 'e': 1}

{'A': 1, 'p': 2, 'l': 1, 'e': 1}

{'A': 1, 'p': 2, 'l': 1, 'e': 1}

Reverse a given string

#Given:

str1 = "Welcome"

#Expected Output:

emocleW

Original String is: Welcome
Reversed String is: emocleW

Find the last position of a substring “Emma” in a given string

In [36]:
str1 = "Darya is a data scientist who knows Python. Darya works at google."

In [37]:
# Search for a built-in method like find

Original String is: Darya is a data scientist who knows Python. Darya works at google.
Last occurrence of Darya starts at 44

Split a given string on hyphens into several substrings and display each substring

#Given:
str1 = "Darya-is-a-data-scientist"

#Expected Output:

#Displaying each substring

Darya
is
a
data
scientist

Original String is: Darya-is-a-data-scientist
Displaying each substring
Darya
is
a
data
scientist

Remove empty strings from a list of strings

#Given:

str_list = ["Darya", "Ali", "", "Negar", None, "Azadeh", ""]

#Expected Output:

#Original list of sting
["Darya", "Ali", "", "Negar", None, "Azadeh", ""]

#After removing empty strings
['Darya', 'Ali', 'Negar', 'Azadeh']

Original list of sting
['Darya', 'Ali', '', 'Negar', None, 'Azadeh', '']
After removing empty strings
['Darya', 'Ali', 'Negar', 'Azadeh']

Remove special symbols/Punctuation from a given string

#Given:

str1 = "/*Ali is @developer & musician"
#Expected Output:

“Ali is developer musician”

In [40]:
import string
# You can use function or methods like str.translate, str.maketrans , str.punctuation

Original string is:  /*Ali is @developer & musician
New string is:  Ali is developer  musician

Removal all the characters other than integers (numbers) from string

#Given:

I am 25 years and 10 months old

#Expected Output:

2510

Original string is I am 25 years and 10 months old
2510

From given string replace each punctuation with #
Given:

str1 = '/*Negar is @developer & musician!!'
Expected Output:

##Negar is #developer # musician##

The original string is :  /*Negar is @developer & musician!!
The strings after replacement :  ##Negar is #developer # musician##

Print First 10 natural numbers using while loop
Expected output:

0
1
2
3
4
5
6
7
8
9
10

0
1
2
3
4
5
6
7
8
9
10

Print the following pattern
1 
1 2 
1 2 3 
1 2 3 4 
1 2 3 4 5

Second Number Pattern
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

Accept number from user and calculate the sum of all number between 1 and given number

For example user given 10 so the output should be 55

Please enter number 66


Sum is:  2211

Print multiplication table of given number
For example num = 2 so the output should be
2
4
6
8
10
12
14
16
18
20

Given a list iterate it and display numbers which are divisible by 5 and if you find number greater than 150 stop the loop iteration
list1 = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]

Expected output:

15
55
75
150

Given a number count the total number of digits in a number
For example, the number is 75869, so the output should be 5.

Print the following pattern using for loop
5 4 3 2 1 
4 3 2 1 
3 2 1 
2 1 
1

Reverse the following list using for loop
list1 = [10, 20, 30, 40, 50]

Expected output:

50
40
30
20
10

Display -10 to -1 using for loop
Expected output:

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

Display a message “Done” after successful execution of for loop
For example, the following loop will execute without any error.

for i in range(5):
    print(i)
So the Expected output should be:

0
1
2
3
4
Done!

Display Fibonacci series up to 10 terms
Expected output:

Fibonacci sequence:
0  1  1  2  3  5  8  13  21  34

Write a loop to find the factorial of any number
The factorial (symbol: !) means to multiply all whole numbers from our chosen number down to 1.

For example: calculate the factorial of 5

5! = 5 × 4 × 3 × 2 × 1 = 120
Expected output:

120

Reverse a given integer number
Given:

76542

Expected output:

24567

Use a loop to display elements from a given list which are present at even positions
Given:

my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

Expected output:

20 40 60 80 100

Print the following pattern
* 
* * 
* * * 
* * * * 
* * * * * 
* * * * 
* * * 
* * 
*

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

Good Luck
Please email your file for me: mr.gerami@gmail.com or whatsapp +989125792641